fastapi==0.115.6
uvicorn[standard]==0.34.0
gunicorn==23.0.0
python-multipart==0.0.20
pillow==11.1.0
numpy==1.26.4
opencv-python-headless==4.11.0.86
onnxruntime==1.28.0
nudenet==3.4.2
torch==2.6.0
open-clip-torch==2.30.0
