.searchable-select-wrapper {
  width: 100%;
}

.searchable-select-proxy {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

.searchable-select__menu-notice {
  color: #8a8a8a;
}
